{% extends "picasso/base.html" %}

{% block title %} My Posts {% endblock %}

{% block page-name %} My Posts {% endblock %}

{% block navigation %}

    <a href="{% url 'add-picture' %}"><button id="id_nav_convert"> Home </button></a>
    <a href="{% url 'global' %}"><button id="id_global_stream_button"> Platform </button></a>
    <a href="{% url 'logout' %}"><button id="id_logout_button"> Logout </button></a>

{% endblock %}

{% block content %}
    <div class="side_nav">
        <div class="nav_box"><a class="side_link" href="{% url 'profile' %}">My Profile</a></div>
        <div class="nav_box current_box"><a class="side_link" href="{% url 'posts' %}">My Posts</a></div>
        <div class="nav_box"><a class="side_link" href="{% url 'work' %}">My Work</a></div>
    </div>

    <div class="flex-container" id="my-posts-go-here"></div>

    <script>
        window.onload = getMyPosts

        // call getMyPic every 5 seconds hereafter to update the posts
        // window.setInterval(getMyPosts, 5000);

        const addCommentURL = "{% url 'add-comment' %}"
    </script>
    
{% endblock %}

